<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>학습할 내용</h1>
  <h3>REST APIs</h3>
  <ul>
    <li>Dependency injection</li>
    <li>Spring MVC</li>
    <li>Spring Data JPA</li>
    <li>Spring Security JWT</li>
    <li>Production ready features</li>
    <li>Azure Cloud service</li>
  </ul>
  <h3>Good software engineering practices</h3>
  <ul>
      <li>Version control and project management using Git</li>
      <li>API-first approach: SwaggerHub</li>
      <li>Test-Driven-Development: TDD(Red, Green, Refactor)</li>
    <li>Continuous Integration/continuous deployment: CI/CD using GitHub Actions</li>
  </ul>
</main>
</body>
</html>