<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>목차</h1>
  <h2>스프링 부트 소개</h2>
  <ul>
    <ol>Introduction to Spring boot 3 Tutorial</ol>
    <ol>What is Spring</ol>
    <ol>IoC and Dependency Injection</ol>
    <ol>What is Spring Boot</ol>
    <ol>Spring boot quick Demo</ol>
    <ol>Spring Boot Project Structure</ol>
    <ol>Spring Boot Quick Demo Implementation</ol>
    <ol>pom.xml Demystified</ol>
    <ol>spring-boot-starter-parent</ol>
  </ul>
</main>
</body>
</html>