<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <script src="/js/menu/loadNav_noNav.js"></script>
</head>
<body>
<nav th:replace="~{ui/utils/navbar :: navbarFragment}"></nav>
<main>
<h1>검색 기능</h1>
<section>
  <h2>검색 기능 구현</h2>
  <h3>JPA의 Specification interface</h3>

  <h3>질문 리포지터리 수정하기</h3>
  <h3>질문 서비스 수정하기</h3>
  <h3>질문 컨트롤러 수정하기</h3>
</section>
<section>
  <h2>검색화면 구현</h2>
  <h3>검색창 만들기</h3>
  <h3>검색 폼 만들기</h3>
  <h3>페이징 수정하기</h3>
  <h3>검색 스크립트 추가하기</h3>
  <h3>검색 기능 확인하기</h3>
</section>
<section>
  <h2>@Query annotation 사용하기</h2>
</section>
</main>
</body>
</html>