<ul class="navbar">
  <li class="nav home"><a href="/">HOME</a></li>
  <li class="nav board"><a href="/board/01-basic-page/sbb-index">Board-Note</a></li>
  <li class="nav sbb-UI"><a href="/sbb-UI/question/question_list">Sbb-UI</a></li>
  <li class="nav spring"><a href="/spring/00-setting/02-sts-setting">Spring</a></li>
<!--  <li class="nav javascript"><a href="/js/01-intro/01-start">JavaScript</a></li>-->
<!--  <li class="nav html"><a href="/html/01-document/01-browser-env">HTML</a></li>-->
<!--  <li class="nav java"><a href="/java/01-basic/01-data-type">JAVA</a></li>-->
</ul>
<button class="navBtn">🔻</button>
