<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>Question detail</h1>
  <section>
  <h2>Question detail 화면</h2>
    <h3 th:text="|제목 : ${question.subject}|"></h3>
    <h3 th:text="|내용 : ${question.content}|"></h3>
    <form th:action="@{|/sbb-UI/answer/create/${question.id}|}" th:object="${answerForm}" method="post">
      <div th:replace="~{/sbb-UI/utils/form_errors :: formErrorsFragment}"></div>
      <textarea th:field="*{content}" id="content" cols="40" rows="4"> </textarea>
      <input type="submit" value="Answer" id="add-answer"/>
    </form>
    </section>
  <section>
    <h2 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h2>
    <div th:each="answer : ${question.answerList}"
        style="display:flex; justify-content:space-between; gap:2rem;
        width:90%; margin:6px;">
      <span th:text="| • ${answer.content}|"></span>
      <span class="small date"
          th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm:ss')}">
      </span>
    </div>
  </section>
</main>
</body>
</html>