<aside class="aside" id="board">
<h1 class="title">Board</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>SBB basic</h2>
    <ul class="content-toggle" id="board-basic">
      <li class="content"><a href="/board/01-basic-page/sbb-index">question index</a></li>
      <li class="content"><a href="/board/01-basic-page/01-question-list">Question list</a></li>
      <li class="content"><a href="/board/01-basic-page/02-service-intro">Service intro</a></li>
      <li class="content"><a href="/board/01-basic-page/03-question-detail">Question Detail</a></li>
      <li class="content"><a href="/board/01-basic-page/04-thymeleaf-style">Thymeleaf style</a></li>
      <li class="content"><a href="/board/01-basic-page/05-question-create">Question 생성</a></li>
      <li class="content"><a href="/board/01-basic-page/06-validation">Spring Validation</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>부가 기능(log-in 등)</h2>
    <ul class="content-toggle" id="board-advanced">
      <li class="content"><a href="/board/02-advanced/01-nav-bar">Nav Bar</a></li>
    </ul>
    </li>
    <li class="sub-content"><h2>ETC</h2>
      <ul class="content-toggle" id="board-etc">
        <li class="content"><a href="/board/03-etc/01-start">set server</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>