<aside class="aside" id="restapi">
  <h1 class="title">SPRING REST</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2 >1부. RESTfull Web Service</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/01-restfull-web/01-rest-web-basic">01:RESTfull 웹서비스 기본사항</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>보안,UI,테스트,배포</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/02-sec-UI-test/06-authentication">보안</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>