<aside class="aside" id="restapi">
  <h1 class="title">SPRING REST</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>기본</h2>
      <ul class="content-toggle" id="rest-basic">
        <li class="content"><a href="/restapi/01-basics/00-rest-spring-27-setting">sb 2.7 설정</a></li>
        <li class="content"><a href="/restapi/01-basics/01-project-basic">기본</a></li>
        <li class="content"><a href="/restapi/01-basics/02-get-api">GET API</a></li>
        <li class="content"><a href="/restapi/01-basics/03-post-api">POST API</a></li>
        <li class="content"><a href="/restapi/01-basics/04-put-delete-api">PUT/DELETE API, ResponseEntity</a></li>
        <li class="content"><a href="/restapi/01-basics/05-jpa-entity-dao-dto">JPA, entity, dao, dto</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>추가기능</h2>
      <ul class="content-toggle" id="rest-more">
        <li class="content"><a href="/restapi/02-more/01-logback">Logback</a></li>
        <li class="content"><a href="/restapi/02-more/02-validation">Validation</a></li>
        <li class="content"><a href="/restapi/02-more/03-rest-error-handler">custom,valid error handle</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>