<aside class="aside" id="spring">
<h1 class="title">SPRING</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>환경설정</h2>
      <ul class="content-toggle" id="spring-setting">
        <li class="content"><a href="/spring/00-setting/01-about-spring-boot">About spring boot</a></li>
        <li class="content"><a href="/spring/00-setting/02-sts-setting">STS설정</a></li>
        <li class="content"><a href="/spring/00-setting/03-cors-setting">CORS setting</a></li>
        <li class="content"><a href="/spring/00-setting/04-intellij-setting">IntelliJ setting</a></li>
        <li class="content"><a href="/spring/00-setting/99-cors-config-oldversion">cors old</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>basics</h2>
      <ul class="content-toggle" id="spring-basics">
        <li class="content"><a href="/spring/01-basics/00-project-architecture">
          프로젝트 구조</a></li>
        <li class="content"><a href="/spring/01-basics/01-Controller">
          Controller</a></li>
        <li class="content"><a href="/spring/01-basics/02-JPA-db">
          JPA</a></li>
        <li class="content"><a href="/spring/01-basics/03-entity-db-mapping">
          Entity</a></li>
        <li class="content"><a href="/spring/01-basics/04-repository-basic">
          Repository About</a></li>
        <li class="content"><a href="/spring/01-basics/05-repository-crud">
          Repository-CRUD</a></li>
        <li class="content"><a href="/spring/01-basics/06-domain-categorize">
          Domain 구성</a></li>
        <li class="content"><a href="/spring/01-basics/07-templates">
          Templates 설정</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>JSP</h2>
      <ul class="content-toggle" id="spring-JSP">
        <li class="content"><a href="/spring/03-JSP/01-settings">jsp setting</a></li>
        <li class="content"><a href="/spring/03-JSP/02-start-jsp">start jsp</a></li>
        <li class="content"><a href="/spring/03-JSP/03-method-scriptlit">method script</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>