<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>RESTfull web service 기본 사항</h1>
  <section>
    <h2>REST API 소개 : REpresentational State Transfer</h2>
    <h3>소셜 로그인은 주로 REST나 GraphQL을 사용하는 API를 제공</h3>
    <h3>현재는 주로 REST가 가장 널리 사용되고 있음</h3>
    <h3>REST 스타일을 따르는 웹서비스를 RESTfull 웹서비스라고 함</h3>
    <h3>REST는 3개의 주요 컴포넌트를 사용해서 동작</h3>
    <h4>리소스와 URI, HTTP Method, HATEOAS</h4>
    <pre>GET /licenses HTTP/2
    Host:api.github.com</pre>
  </section>
  <section>
    <h2>WWW상의 모든 문서는 HTTP 관점에서 리소스이며, 리소스는 URI로 표시</h2>
    <h3>URI는 웹세서 리소스의 위치, 이름, 또는 이 둘을 모두 사용해서 리소스를 식별하는 문자열을 의미</h3>
    <h3>URI에는 URL과 URN의 두 가지 타입이 있음</h3>
    <h4>URL은 HTTP뿐만 아니라 FTP, JDBC, MAILTO 등에 많이 사용</h4>
    <H2>URI 구문</H2>
    <H3>scheme:[//authority]path[?query][#fragment]</H3>
    <h4>scheme =>  HTTP, HTTPS, FILE, MAILTO ETC</h4>
    <H4>권한 => 선택적 필드(authority = [userinfo "@"] host [":" port]) "//"가 앞에온다.</H4>
    <h5>userinfo : 선택, 사용자 이름과 암호를 포함</h5>
    <h5>host: ip주소 또는 등록된 호스트 또는 도메인 이름</h5>
    <h5>port: 콜론(:) 뒤에오는 포트 번호</h5>
    <h5>path => /로 구분되는 일련의 세그먼트가 포함</h5>
    <pre>mailto:support@packt.com
    telnet://192.168.8.12:23
    ldap://[2020:ab9::9]/c=AB?objectClass?obj</pre>
    <h3>REST 관점에서 URI의 경로 컴포넌트는 리소의 경로를 표시</h3>
    <pre>GET https://www.domain.com/api/vi/order/1</pre>
    <h3>URL은 식별자 뿐만아니라 리소스에 도달하는 방법도 알려움</h3>
  </section>
  <section>
    <h2>HTTP 메소드 : POST, GET, PUT, DELETE, PATCH</h2>
    <h3>POST: GET쿼리는 문자열 256자 또는 2048자에서 실제경로를 뺀 문자수로 제한</h3>
    <h4>POST는 이름과 값 쌍을 제출할 때 크기 제한이 없음</h4>
    <h4>제출된 입력 매개변소에 비공개 또는 보안 정보가 포함된 경우 읽기 호출에 대해서 HTTPS와 함께 POST 메소드를 사용</h4>
    <h4>생성이 성공하면 201 Created 상대로 응답</h4>
    <h4>검색, 읽기 성공하면 200 OK 또는 204 No Content</h4>
    <h3>GET /licenses : 성공 200 OK 또는 204 No Content</h3>
    <H3>PUT: 업데이트 : 성공  200 OK 또는 204 No Content</H3>
    <h3>DELETE :  204 No Content</h3>
    <H3>PATCH: UPDATE : 200 OK</H3>
  </section>
  <SECTION>
    <H2>HTTP 상태 코드</H2>
    <P>정보성(100~199), 성공(200~299), 리다이렉트(300~399),클라이언트애러(400~499), 서버애러(500~599)</P>
    <H4>202 ACCEPTED; 서버가 요청을 수락했지만 일괄 처리와 같이 즉시 등답을 보낼 수 없는 경우</H4>
    <H4>401 UNAUTHORIZED</H4>
    <H4>429: TOO MAY REQUESTS</H4>
    <H4>502 BAD GATEWAY; 업스트림 서버 호출(외부 연결앱) 실패</H4>
    <H4>503 SERVICE UNAVAILABLE </H4>
  </SECTION>
  <SECTION>
    <H2>HATEOAS ?</H2>
    <H3>RESTfull 웹서비스는 HATEOAS라는 하이퍼미디어를 통해 동적으로 정보를 제공</H3>
    <H3>이를 통해 다음페이지 정보, 이미지 정보, 파일 정보 등에 대한 경로를 제공</H3>
    <H3>HATEOAS는 REST의 매우 중요한 개념으로 REST와 RPC를 구분하는 개념 중 하나</H3>
  </SECTION>
  <SECTION>
    <H2>API 보안</H2>
    <H3> 암호화된 통신을 위해 항상 HTTPS를 사용</H3>
    <H3>적용시에 OWASP의 주요 API 보안 위협 및 위약점을 살핀다</H3>
    <H3>보안 REST API에는 인증이 있어야함. </H3>
    <H4>REST API는 스테이트리스여서 REST API는 쿠키나 세션을 사용해서 안되고 JWT 또는 OAuth 2.0 기반 토큰을 사용해 보안을 유지해야함</H4>
  </SECTION>
  <section>
    <h2>caching 보장</h2>
    <h3>HTTP는 자체적으로 캐싱을 제공. REST API 응답에 추가 헤더만 제공하면됨</h3>
    <H3>응답을 받은 REST CLIENT는 캐싱관련 헤더가 추가된 응답을 가지고 유효성을 검사혀 호출할지 아니면 캐시된 응답을 사용하지를 확인</H3>
    <H3>이를 위한 추가 헤더를 제공하는 두가지 방법</H3>
    <H4>Etag: 리소스 표현(즉, 응답객체)의 해시 또는 체크섬 값을 포함하는 특별한 헤더 값</H4>
    <H4>리소스 응답이 변경되지 않으면 동일하게 유지</H4>
    <P>ETag를 설정하면 클라이언트는 ETag 값을 포함하는 If-None-Match라는 다른 헤더 필드와 함께 요청을 보낸수 있다. 서버가 이요청을 수신하고 리소스 표현 값의 해시 또는 체크섬 값이 If-None-Match와 다른 경우에만 새로운 표현과 ETag 헤더에 이 해시값을 응답으로 반환한다. 동일하면 서버는 단순히 304(Not Modified) 상태 코드로 응답해야한다.</P>
    <h4>Last-Modified: 동작방식은 ETag와 동일하나 해시 또는 체크섬을 사용하는 대신 RFC-1123 형식의 타임스템프 값을 사용</h4>
  </section>
  <section>
    <h2>단위사간당 요청량 제한 유지관리</h2>
    <h3>429 Too May Requests에 대한 대응(초과되기 전에 클라이언트에 알릴 표준 상태코드는 없음)</h3>
    <h3>관련된 코드</h3>
    <h4>X-Ratelimit-Limit:60 => 현재 기간에 허용된 요청수</h4>
    <h4>X-Ratelimit-Remaining:98 => 현재 기간에 남은 요청수</h4>
    <h4>X-Ratelimit-Reset: 1061299930 => 현재 기간에 남은 시간</h4>
    <h4>X-Ratelimit-Used: 5 => 현재 기간에 사용된 요청 수</h4>
  </section>
  <h1>사용한 전자상거래 앱</h1>
  <section>
    <h2>제공 기능</h2>
    <h3>제품 둘러보기</h3>
    <h3>장바구니 : 담긴 제품을 추가/제거/갱신</h3>
    <h3>주문하기</h3>
    <h3>배송 주소 변경</h3>
    <h3>단일 통화 지원</h3>
    <h2>하위 도메인</h2>
    <h3>User</h3>
    <h3>Carts</h3>
    <h3>Products</h3>
    <h3>Orders</h3>
    <h3>Payment</h3>
    <h3>Shipping</h3>
  </section>
  <section>
<pre>
         ----------------- service: Products
         |                        |
         ▼                        ▼
  service: Carts ◀---------- service: Orders --------------▶ service: Users
                                  |
                  --------------------------------
                  |                               |
                  ▼                               ▼
            service: Payments           service: Shippings
</pre>
  </section>
</main>
<script>
</script>
</body>
</html>